<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./partials/head"); %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <main>
        <section class="landing-page">
            <div class="presentacion">
                <h1><span>H</span>ola,</h1>
                <h4>Mi nombre es Carlos</h4>
                <p>Soy un desarrolador enfocado en encontrar soluciones efectivas a los problemas, a partir de la tecnlogia. 
                    Programador, desarollador - web, apasionado de la 
                    electronica, fotógrafo y otras cosas.</p>
            </div>
            <input type="button" value="¡Contáctame!">
            <div class="proyectos_destacados justify-content-center">
                <div class="row row-cols-2">
                    <div class="col">
                        <img src="./img/Logo_Frias_insuraces.png" alt="" width="303px" height="138px">
                    </div>
                    <div class="col">
                        <img src="./img/Logo_Oxyser.png" alt="" width="303px" height="138px">
                    </div>
                    <div class="col">
                        <img src="./img/Logo_Caoba.png" alt="" width="303px" height="138px">
                    </div>
                    <div class="col">
                        <img src="./img/Logo_MonBelAnge.png" alt="" width="303px" height="138px">
                    </div>
                  </div>
                  <p>Más proyectos en: <span>Portafolio</span></p>
            </div>
        </section>

    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>