<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <%- include("./partials/head"); %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
        <%- include('./partials/socialcontact'); %>
    </header>
        <h1 class="mi-portafolio">Mi Portafolio</h1>
        <p class="texto-portafolio">Estos son algunos proyectos que he realizado de forma personal y laboral, enfocados en desarrollo web, software y proyectos de electrónica.</p>
    <main class="proyectos-pagina">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="cols">
              <div class="card">
                <img src="./img/landing-frias.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Frias Insurance</h5>
                  <p class="card-text">Diseño, desarrollo y despliegue de página web utilizando wordpress como CMS, Elementor y Adobe Illustrator para el UI en el campo del desarrollo de la interfaz.</p>
                  <a href="#" class="btn btn-primary boton-proyectos">Conocer más</a>
                </div>
              </div>
            </div>
            <div class="cols">
              <div class="card">
                <img src="./img/landing-oxyser.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Oxyser</h5>
                  <p class="card-text">Diseño, desarrollo y despliegue de página web utilizando wordpress como CMS y Adobe Illustrator para el UI en el campo del desarrollo de la interfaz.</p>
                  <a href="#" class="btn btn-primary boton-proyectos">Conocer más</a>
                </div>
              </div>
            </div>
            <div class="cols">
              <div class="card">
                <img src="./img/Task-app.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Task-app</h5>
                  <p class="card-text">App que permite crear tareas, editarlas y eliminarlas, además de poder agrupar las tareas por fecha de realización.</p>
                  <a href="#" class="btn btn-primary boton-proyectos">Conocer más</a>
                </div>
              </div>
            </div>
            <div class="cols">
              <div class="card">
                <img src="./img/landing-monbelange.png" class="card-img-top" alt="..." width="auto" height="100%">
                <div class="card-body">
                  <h5 class="card-title">Mon Bel Ange</h5>
                  <p class="card-text">Mon Bel Ange es una empresa de pastelería y chocolatería artesanal que busca ofrecer al cliente una experiencia en la que pueda personalizar sus productos.
                    En esta oportunidad el proyecto consistía en realizar el diseño conjunto de la identidad de la marca con la empresa y, por consiguiente, el desarrollo del sitio web, permitiendo poder conectar todos sus medios de comunicación entre sí.</p>
                  <a href="#" class="btn btn-primary boton-proyectos">Conocer más</a>
                </div>
              </div>
            </div>
            <div class="cols">
              <div class="card">
                <img src="./img/landing-caoba.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Caoba</h5>
                  <p class="card-text">¡Bienvenido a Caoba, donde el arte del emprendimiento cobra vida! Un proyecto innovador donde creamos un modelo de negocio cautivador, diseñamos un producto excepcional, forjamos una identidad visual distintiva y tejemos una plataforma web que enamorará a todos. 
                    Sumérgete en la magia de Caoba y únete a este viaje hacia el éxito empresarial.</p>
                  <a href="#" class="btn btn-primary boton-proyectos">Conocer más</a>
                </div>
              </div>
            </div>
            <div class="cols">
              <div class="card">
                <img src="./img/landing-drone.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Drone - Arduino</h5>
                  <p class="card-text">El proyecto "SkyCraft" fue un emocionante desafío que me apasionó desde el principio. 
                    Al combinar mis habilidades en ingeniería y programación con la versatilidad de Arduino, logré dar vida a un drone único y sorprendente.</p>
                  <a href="#" class="btn btn-primary boton-proyectos">Conocer más</a>
                </div>
              </div>
            </div>
          </div>
    </main>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>

