<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <%- include("./partials/head"); %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
        <%- include('./partials/socialcontact'); %>
    </header>
        <h1 class="mi-portafolio">Mi Portafolio</h1>
        <p class="texto-portafolio">Estos son algunos proyectos que he realizado de forma personal y laboral, enfocados en desarrollo web, software y proyectos de electrónica.</p>
    <main class="proyectos-pagina">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="cols">
              <div class="card">
                <img src="./img/landing-frias.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="cols">
              <div class="card">
                <img src="./img/landing-oxyser.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="cols">
              <div class="card">
                <img src="./img/Task-app.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="cols">
              <div class="card">
                <img src="./img/landing-monbelange.png" class="card-img-top" alt="..." width="auto" height="100%">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="cols">
              <div class="card">
                <img src="./img/landing-caoba.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="cols">
              <div class="card">
                <img src="./img/landing-drone.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
    </main>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
</html>

