:root {
  --font-family: "arial";
  --font-family-title: 'Source Sans 3', sans-serif;
  --font-input: 300;
  --font-size-nav: 12pt;
  --font-size-logo: 28px;
  --font-size-card-title: 24px;
  --font-size-input-label: 20px;
  --font-size-button: 22px;
  --font-size-form-fieldset: 22px;
  --font-size-table-header: 22px;
  --font-size-modal-title: 40pt;
  --font-size-modal-button: 28px;

  --primary-color: #02132c;
  --secundary-color: #59e3c5;
  --contrast-color: #06203f;
  --white: #ffff;
  --info-color: #b2b3b7;
  --transparency-color: #4d4d4d33;
  --shadow: 0 7px 7px #000000;
  --portafolio:#D0F4EB;
  --cuadro-texto: #06203F;
  --font-color-label:#6b6b6b;
  --footer-contrans: #021123;
}

@media (min-width: 800px) {
  :root {
    --font-size-logo: 56px;
  }
}
