@import url(_reset.css);
@import url(_variables.css);
/* general */
body {
  background-color: var(--primary-color);
  color: var(--info-color);
  font-family: var(--font-family);
  overflow-x: hidden;
  margin: 0 48px;
}

h4{
  font-family: var(--font-family-title);
    font-size: 30pt;
    color: var(--white);
}
a:hover{
  text-decoration: none;
  color: var(--white);
}



/* Form */


/* media */
@media (min-width: 800px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: calc((100vw - 900px) / 2);
    padding-right: calc((100vw - 900px) / 2);
  }
  
}
