@import url(_reset.css);
@import url(_variables.css);
/* general */
body {
  background-color: var(--primary-color);
  color: var(--info-color);
  font-family: var(--font-family);
  overflow-x: hidden;
  margin: 0 48px;
}

h4{
  font-family: var(--font-family-title);
    font-size: 30pt;
    color: var(--white);
}
a:hover{
  text-decoration: none;
  color: var(--white);
}

.proyecto{
  display: flex;
}
.proyectos-destacados{
  margin-top: 10vh;
}
.imagen-proyecto > img{
  width: 55vw;
  height: 100vh;
}
.algunos-proyectos{
  text-align: center;
}
.descripcion-proyectos{
  text-align: center;
  margin-bottom: 90px;
}
.content-mas-proyectos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.title-descriptionform{
  text-align: center;
  margin-bottom: 80px;
}
.footer{
  margin: 0 0 !important;
  padding: 0 0  !important;
}
/* Form */
.card-body-form{
  display: flex;
}

/* media */
@media (min-width: 800px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: calc((100vw - 900px) / 2);
    padding-right: calc((100vw - 900px) / 2);
  }
  .imagen-proyecto > img{
    width: 55vw;
    height: 70vh;
  }
}
