footer{
    margin-top: 10vh;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.descripcion-footer{
    margin-bottom: 10vh;
}
.copyright{
    color: var(--white);
}