.hablemos{
    font-family: var(--font-family-title);
    font-size: var(--font-size-modal-title);
    color: var(--secundary-color);
    margin-bottom: 2vh;
}
.linea-hablemos{
    display: flex;
    justify-content: center;
    height: 2px;
    width: 20vw;
    background-color: var(--secundary-color);
    margin-bottom: 5vh;
}
.title-descriptionform{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
  }
.descripcion-form{
    text-align:center;
    padding: 0 16% 0 16%;
}
.card-body-form{
    display: flex;
    width: 80%;
    margin: auto;
  }
.form-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding: 4%;
    background-color: var(--contrast-color);
    border-radius: 3% 0 0 3%;
    -webkit-border-radius: 3% 0 0 3%;
    -moz-border-radius: 3% 0 0 3%;
    -ms-border-radius: 3% 0 0 3%;
    -o-border-radius: 3% 0 0 3%;
    
}
.inputs-form{
    width: 70%;
    padding: 4%;
    background-color: var(--white);
    border-radius: 0 3% 3% 0;
    -webkit-border-radius: 0 3% 3% 0;
    -moz-border-radius: 0 3% 3% 0;
    -ms-border-radius: 0 3% 3% 0;
    -o-border-radius: 0 3% 3% 0;
}
.imagen-social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.navbar-social-form{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navbar-social-form > img{
    width: 20%;
    height: auto;
}
.form-group > label{
    color: var(--font-color-label);
    font-weight: 700;
    margin-bottom: 5vh;
}
.form-control::placeholder{
    color: var(--info-color);
}
.botonformulario{
    width: 10vw;
    background-color: var(--primary-color);
    font-weight: 600;
}
textarea.form-control{
    height: 150px;
}

@media (max-width: 600px) {
    .title-descriptionform{
        margin-bottom: 15%;
    }
    .descripcion-form{
        padding: 0 4% 0 4%;
        font-size: 72%;
    }
    .form-social{
        align-items: center;
        border-radius: 2% 0 0 2%;
        -webkit-border-radius: 2% 0 0 2%;
        -moz-border-radius: 2% 0 0 2%;
        -ms-border-radius: 2% 0 0 2%;
        -o-border-radius: 2% 0 0 2%;
    }
    .imagen-social{
        width: 80%;
    }
    .navbar-social-form{
        width: 100%;
    }
    .navbar-social-form >img{
        width: 25%;
    }
    textarea.form-control{
        height: 150px;
    }
    .botonformulario{
        width: 20vw;
    }
    .inputs-form{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .form-social{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}