.p-destacados{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
    font-family: var(--font-family-title);
    font-size: 12pt;
    font-weight: 200;
    color: var(--secundary-color);
}
.p-destacados-2{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1%;
    font-family: var(--font-family-title);
    font-size: 12pt;
    font-weight: 200;
    color: var(--secundary-color);
}

.imagen-proyecto{
    display: flex;
    align-items: center;
    width: 50%;
    height: 45vh;
   margin-bottom: 5vh;
}

.imagen-proyecto.frias{
    background-color: var(--white);
    background-image:url(https://carlocortes.up.railway.app/img/Frias-logo.png);
    background-size:cover;
    background-position:center;
    background-size: 60%;
    background-repeat:no-repeat;
    object-fit: cover;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}  
.imagen-proyecto.oxy{
    background-color: var(--white);
    background-image: url(https://carlocortes.up.railway.app/img/Logo_Oxyser.png);
    background-size:cover;
    background-position:center;
    background-size: 80%;
    background-repeat:no-repeat;
    object-fit: cover;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.imagen-proyecto.mon {
    background-color: var(--white) !important;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.imagen-proyecto.mon > img{
    width: 40%;
    height: auto;
   
}
.imagen-proyecto.cao {
    background-color: var(--white) !important;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.imagen-proyecto.cao > img{
    width: 40%;
    height: auto;
   
}
.frias-titulo{
    text-align: right;
    font-family: var(--font-family-title);
    font-size: 30pt;
    color: var(--white);
    margin-bottom: 3%;
}
.Oxyser-titulo{
    text-align: left;
    font-family: var(--font-family-title);
    font-size: 30pt;
    color: var(--white);
    margin-bottom: 3%;
}
.monbelange-titulo{
    text-align: right;
    font-family: var(--font-family-title);
    font-size: 30pt;
    color: var(--white);
    margin-bottom: 3%;
}
.caoba-titulo{
    text-align: left;
    font-family: var(--font-family-title);
    font-size: 30pt;
    color: var(--white);
    margin-bottom: 3%;
}
.cuadro-texto{
    display: flex;
    align-items: center;
    text-align: justify;
    position: relative;
    top:0px;
    background-color: var(--cuadro-texto);
    width: 100%;
    max-width: 100%;
    height: 150px;
    font-size: 10pt;
    padding: 0% 7% 0% 7%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--white);
    line-height: 110%;
}
.tecnologias-d{
    text-align: right;
    margin-top: 2%;
    font-size: 10pt;
}
.tecnologias-d-1{
    text-align: left;
    margin-top: 2%;
}
.iconos{
    display: flex;
    justify-content: flex-end;
    height: 10%;
    margin-top: 3%;
}
.iconos.l{
    display: flex;
    justify-content: flex-start;
}
.iconos > a {
    height: 40px;
}
.iconos > a>img {
    width: 100%;
    height: 100%;
    
}
.iconos > a:nth-child(2){
    width: 35px;
    height: 35px;
    margin-left: 2%;

}
@media (max-width: 600px) {
    .cuadro-texto{
        font-size: 5pt;
    }
    
    .imagen-proyecto.frias{
        background-color: var(--white);
        background-image: url(https://carlocortes.up.railway.app/img/Frias-logo.png);
        background-size:cover;
        background-position:center;
        background-size: 80%;
        background-repeat:no-repeat;
        object-fit: cover;	
    }

    .frias-titulo,.Oxyser-titulo,.caoba-titulo{
        font-size: 26px;
    }
    .monbelange-titulo{
        font-size: 24px;
    }
    .cuadro-texto .frias{
        font-size: 5pt;
    }
    .texto-frias{
        font-size: 5pt;
    }
}
@media (min-width: 600px) and (max-width: 1200px) {
    .cuadro-texto{
        font-size: 9pt;
        height: 170px;
    }
    .texto-frias{
        font-size: 8pt;
    }
  }