.proyectos-destacados{
    margin-top: 12vh;
  }
  
  .algunos-proyectos-l{
    text-align: center;
  }
.descripcion-proyectos{
    text-align: center;
    margin-bottom: 12vh;
  }
.proyecto{
    display: flex;
    align-items: center;
    margin-bottom: 16vh;
  }
.top-proyectos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}
.linea-al{
    height: 2.5px;
    width: 20vw;
    background-color: var(--secundary-color);
}
.algunos-proyectos{
    padding: 0px 2% 0px 2%;
    font-family: var(--font-family-title);
    font-size: 22pt;
    word-spacing: 5px; 
    color: var(--white);
}
.proyecto{
    display: flex;
}
.descripcion-proyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}
@media (min-width: 600px) and (max-width: 1200px) {
    .algunos-proyectos{
        font-size: 15pt;
    }
  }
