<nav class="navbar navbar-expand-lg bg-body-tertiary--primary-color">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="./img/logo.png" alt="Logo" width="60px" height="60px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup" data-bs-theme="dark">
        <div class="navbar-nav">
          <a class="nav-link " aria-current="page" href="/">Inicio</a>
          <a class="nav-link proyectos-nav" href="/proyectos">Proyectos</a>
          <a class="nav-link" href="/blog">Blog</a>
          <a class="nav-link" href="/contacto">Contacto</a>
        </div>
        <div class="navbar-social">
            <a href="https://www.linkedin.com/in/andres-cortes-pro-dv/"><img src="./img/linkedin_redes.png" alt="Mi Linkedin" width="40px" height="40px"></a>
            <a href="https://github.com/CarlosCortesV"><img src="./img/github.png" alt="Mi Github" width="20px" height="40px"></a>
            <a href="https://www.instagram.com/__cortes__/"><img src="./img/instagram_verde.png" alt="Mi Instagram" width="40px" height="40px" class="instagram-nav"></a>
        </div>
      </div>
    </div>
  </nav>