<div class="contact-float">
  <div class="socialnetworks">
    <div class="socialnetworks-item">
      <img src="./img/socialnetworks-github.png" alt="">
  </div>
    <div class="socialnetworks-item">
      <img src="./img/socialnetworks-linkedin.png" alt="">
  </div>
    <div class="socialnetworks-item">
      <img src="./img/socialnetworks-instagram.png" alt="">
  </div>
    <div class="socialnetworks-item">
      <img src="./img/socialnetworks-email.png" alt="">
  </div>  
  </div>
  <div class="email-float">
    <p>carloscortesvera@hotmail.com</p>
  </div>
</div>
