<div class="contact-float">
  <div class="socialnetworks">
    <div class="socialnetworks-item">
      <a href="https://www.linkedin.com/in/andres-cortes-pro-dv/"><img src="./img/socialnetworks-github.png" alt="Github"></a>
  </div>
    <div class="socialnetworks-item">
      <a href="https://www.linkedin.com/in/andres-cortes-pro-dv/"><img src="./img/socialnetworks-linkedin.png" alt="Linkedin" width="24px"></a>
  </div>
    <div class="socialnetworks-item">
      <a href="https://www.instagram.com/__cortes__/"><img src="./img/socialnetworks-instagram.png" alt="Instagram"></a>
  </div>
    <div class="socialnetworks-item">
      <a href="mailto:carloscortesvera@hotmail.com" type="post"><img src="./img/socialnetworks-email.png" alt="Email"></a>
  </div>  
  <div class="linea-vertical"></div>
</div>
</div>
<div class="email-float">
  <div class="correo">
    <a href="mailto:carloscortesvera@hotmail.com"><p>carloscortesvera@hotmail.com</p></a>
  </div>
    <div class="linea-2"></div>
</div>

