<div class="contact-float">
  <div class="socialnetworks">
    <div class="socialnetworks-item">
      <img src="./img/socialnetworks-github.png" alt="Github">
  </div>
    <div class="socialnetworks-item">
      <img src="./img/socialnetworks-linkedin.png" alt="Linkedin">
  </div>
    <div class="socialnetworks-item">
      <img src="./img/socialnetworks-instagram.png" alt="Instagram">
  </div>
    <div class="socialnetworks-item">
      <img src="./img/socialnetworks-email.png" alt="Email">
  </div>  
  <div class="linea-vertical"></div>
</div>
</div>
<div class="email-float">
  <div class="correo">
    <p>carloscortesvera@hotmail.com</p></div>
    <div class="linea-2"></div>
</div>

